.home-container {
  background: url("../../../../public/assets/bgtele.png") no-repeat center
    center / cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 100px;
  padding-top: 50px;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fdf1d1;
  border-top: 2px solid #e5b25d;
  display: flex;
  justify-content: space-around;
  padding: 10px 0 25px 0;
  font-size: 14px;
  font-weight: bold;
  color: #5b3b0a;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.bottom-bar b {
  color: #d48a00;
  font-size: 16px;
}
.coin-display {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.friends-display {
  position: fixed;
  bottom: 75px;
  left: 15px;
}
.friends-icon {
  width: 60px;
  height: 55px;
}
.logout {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.coin-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.nv {
  display: flex;
  align-items: center;
}
.coin-amount {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.logo-hometl {
  width: 80%;
  max-width: 250px;
}

.tree {
  width: 180px;
}

.btn-tap {
  margin-top: 20px;
  background: #ffd23f;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 4px #c5a029;
}

.btn-tap:active {
  transform: translateY(2px);
  box-shadow: 0 2px #c5a029;
}

/* Số lượt tap còn lại */
.tap-count {
  margin-top: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3px 10px;
  border-radius: 12px;
}

.tap-count .highlight {
  color: #2ecc71;
  font-weight: bold;
}
.boxtele {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf1d1;
  border-radius: 12px;
  padding: 12px 16px;
  cursor: pointer;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid #e5b25d;
  margin-top: 10px;
}

.task-title {
  font-size: 16px;
  font-weight: bold;
  color: #5b3b0a;
}
.boxtele img.task-icon {
  width: 40px;
  height: 40px;
}

.reward {
  color: #f1c40f;
  font-weight: bold;
  padding-right: 5px;
}

.btn-go {
  background: #f1c40f;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}
